body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4QCD65zvWNjDC6JilUHJBA1e4yq_3fa7C4vM8xXMlqCQQOK2JVw);
  background-size:cover;
  background-position: absolute;
  opacity: 1;
}
.main-nav{
	list-style: none;
	margin-top: 20px;
	}
.main-nav li{
	float: left;
	display: inline-block;
	padding:10px;
	
}
.main-nav li a{
	text-decoration: none;
	font-family:"Lucida Console", Monaco, monospace;
	color:#C2DDF9;
	font-size: 30px;
}
.main-nav li.active a{
	border: 1.8px solid white;
	padding: 3px;
}
.main-nav li a:hover{
	border: 1.8px solid white;
	padding: 3px;
}
.logo img{
	margin-top:10px;
	margin-right:30px;
	width:100px;
	height:auto;
	float:right;
}
.row{
	max-width: 1200px;
	margin: auto;
}
.header{
	text-align: center;
	padding-top:90px;
	text-transform: uppercase;
	color:#BFDEDB;
	font-family:"monospace";
}
.btn{
	position: absolute;
	margin-top:25px;
	margin-left:400px;
}
.bb {
	border: 1.8px solid white;
	padding:10px;
	color: white;
	}
.btn-2{
	margin-left:20px;
}
.btn-2:hover{
	background-color:#CBAAE2;
	transition: all 0.5s ease-in;
}
.btn-1:hover{
	background-color:#CBAAE2;
}