@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  outline: none;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #2d3237;
  color: #f0f5fa;
}

.login {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.login h1 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #f0f5fa;
  text-align: center;
}
.login h1 span {
  color: #84bc44;
}

.login form {
  padding: 20px;
  padding-bottom: 40px;
  background-color: #23282d;
  border-top: 4px solid #3c4146;
  border-bottom: 4px solid #3c4146;
}

.login form input,
.login form button {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #3c4146;
  color: #f8f8f2;
  font-size: 16px;
  line-height: 1.5em;
  border-radius: 4px;
  transition: all .5s ease;
}
.login form input::-webkit-input-placeholder,
.login form button::-webkit-input-placeholder {
  color: #8c9196;
}
.login form input:-ms-input-placeholder,
.login form button:-ms-input-placeholder {
  color: #8c9196;
}
.login form input::-ms-input-placeholder,
.login form button::-ms-input-placeholder {
  color: #8c9196;
}
.login form input::placeholder,
.login form button::placeholder {
  color: #8c9196;
}
.login form input:focus,
.login form button:focus {
  background-color: #50555a;
}

.login form button[type="submit"] {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #84bc44;
  color: #f0f5fa;
  cursor: pointer;
  transition: all .5s ease;
}
.login form button[type="submit"]:hover {
  background-color: #a1e553;
  color: #6b9937;
}

.morestuff {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}
.morestuff a {
  transition: color .5s ease;
}
.morestuff a:link {
  color: #84bc44;
}
.morestuff a:hover {
  color: #a1e553;
}
.morestuff a:visited {
  color: #6b9937;
}
